<!DOCTYPE html>
<!-- SIGN UP PAGE-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="819490311055-7bn7bd0jpuncni77k66upg6igd31ucd9.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{@BASE}}/styles/nav.css">
    <link rel="stylesheet" href="{{@BASE}}/styles/styles.css">
    <link rel="stylesheet" href="{{@BASE}}/styles/signup.css">
    <link rel="icon" href="{{@BASE}}/favicon/favicon.ico" type="image/x-icon">
    <title>Signup</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{@BASE}}/">The Daily Tech</a>

	<div class="collapse navbar-collapse" id="navbar-main">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{@BASE}}/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{@BASE}}/category/{{general}}">General</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{@BASE}}/category/{{mobile}}">Mobile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{@BASE}}/category/{{programming}}">Programming</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{@BASE}}/category/{{science}}">Science</a>
			</li>
			<check if=" {{ isset(@SESSION.user) }}">
				<true>
					<li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
					<li class="nav-item"><a class="nav-link" href="{{@BASE}}/settings">Settings</a></li>
					<li class="nav-item"><a class="nav-link" href="{{@BASE}}/createarticle">Create New Article</a></li>
				</true>

				<false>
					<li class="nav-item"><a href="login" class="nav-link">Log In</a></li>
				</false>
			</check>
		</ul>
	</div>
</nav>

<div class="container">
    <form action="#" method="post">
        <div class="card bg-light" id="loginCard">
            <div class="card-body" id="loginBody">
                <div id="loginFields">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <span class="err">{{ @errors['name'] }}</span>
                        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
                    </div>

                    <div class="row">
                    <div class="form-group col-6">
                        <label for="org">Organization</label>
                        <input type="text" class="form-control" id="org" name="org" placeholder="Facebook, 3M, Wells Fargo, etc.">
                    </div>

                    <div class="form-group col-6">
                        <label for="position">Position</label>
                        <input type="text" class="form-control" id="position" name="position" placeholder="Software Developer, Tape Engineer, Banker, etc.">
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <span class="err">{{ @errors['email'] }}</span>
                        <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <span class="err">{{ @errors['password'] }}</span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>

                </div>
                    <div class="form-group d-flex justify-content-around">
                        <button type="submit" class="btn btn-secondary ">Create Account</button>
					</div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>